body {
    background-color: #d0e4fe;
}

h1.center {
    color: darkblue;
    text-align: center;
}

h2.center {
    color: blue;
    text-align: center;
}

h3.center {
    color: darkorange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

img.centerimg{
  display:block;
  margin:auto;
}
