body {
    background-color: #d0e4fe;
}

h1.center {
    color: darkblue;
    text-align: center;
}

p.center {
    color: black;
    text-align: center;
}

h2.center {
    color: darkorange;
    text-align: center;
}

img.centerimg{
  display:block;
  margin:auto;
}
